.Root {
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "mainView"
        "footer";

    display: grid;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: "hidden";

}

.MainView {
    grid-area: mainView;
    overflow-y: scroll;
    overflow-x: hidden;
    vertical-align: baseline;
}

.Footer {
    grid-area: footer;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    padding: 10px;
    box-shadow: 1px 3px 20px 20px #00000010;
    position: fixed;
    height: 60px;
    top: calc(100vh - 60px);
}